<section class="main-banner">
  <div class="logo-bar">
    <div class="grid-container">
      <a href="{{ site.url }}"><i class="logo"></i></a>
    </div>
  </div>
  <div class="banner" style="background-image: url({{post.thumbnail.src|resize(1920, 500)}});"></div>
  <div class="infos">
    {% block bannerContent %}
    <h1 class="title">{{post.title}}</h1>
    <div class="ratings m-bottom-3">
      {{ fn('the_ratings') }}
    </div>
    {{ fn('yoast_breadcrumb', '<nav id="breadcrumbs" class="main-breadcrumbs">','</nav>', false ) }}
    {% endblock %}
  </div>
</section>
<!-- end of section.main-banner -->